pywinauto
pyautogui
pygetwindow
litellm
Pillow
speechRecognition
pywin32
psutil
ImageGrab
fuzzywuzzy
uiautomation
gtts
pygame
pyAudio
keyboard
PySide6
pynput
schedule
langdetect
pyinstaller
deep_translator
seleniumbase
beautifulsoup4