setuptools
pywinauto
pyautogui
pygetwindow
customtkinter
litellm
Pillow
speechRecognition
pywin32
psutil
ImageGrab
fuzzywuzzy
pytesseract
uiautomation
gtts
pygame
pyAudio
keyboard
PySide6
pynput
schedule
langdetect
pyinstaller
deep_translator